<div class="row">
    <div class="col-12 my-4 text-center" *ngIf="ciudad">
        <h1>Datos de la ciudad de {{ ciudad.name }}, {{ ciudad.sys.country }}</h1>
    </div>
    <div class="col-md-6 mt-3">
        <div class="card bg-dark text-center">
            <div class="card-body">
                <h5 class="card-title">Buscador de ciudad:</h5>
                <div class="input-group mb-3">
                    <select class="custom-select" #ciudadElegida (change)="elegirCiudad(ciudadElegida.value)">
                      <option selected *ngIf="ciudad">{{ ciudad.name }}</option>
                      <option value="Cordoba">Cordoba</option>
                      <option value="Buenos Aires">Buenos Aires</option>
                      <option value="Parana">Parana</option>
                      <option value="Misiones">Misiones</option>
                      <option value="Salta">Salta</option>
                      <option value="Formosa">Formosa</option>
                    </select>
                </div>
                <div *ngIf="ciudad">
                    <h5 class="card-title">La ubicacion de {{ ciudad.name }}, {{ ciudad.sys.country }}</h5>
                    <p class="card-text">Latitud: {{ciudad.coord.lat}}</p>
                    <p class="card-text">lognitud: {{ciudad.coord.lon}}</p>
                    <h5 class="card-title">Mas informacion de {{ ciudad.name }}, {{ ciudad.sys.country }}</h5>
                    <p class="card-text">Descripcion: {{ ciudad.weather[0].description }} </p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="ciudad" class="col-md-6 mt-3">
        <div class="card bg-dark text-center">
            <div class="card-body">
                <h5 class="card-title">Ciudad de {{ ciudad.name }}, {{ ciudad.sys.country}}</h5>
                <p class="card-text">Temperatura: {{ciudad.main.temp}}°</p>
                <p class="card-text">Temperatura maxima: {{ciudad.main.temp_max}}°</p>
                <p class="card-text">Temperatura minima: {{ciudad.main.temp_min}}°</p>
                <p class="card-text">Presion: {{ciudad.main.pressure}}</p>
                <p class="card-text">Humedad: {{ciudad.main.humidity}}%</p>
            </div>
        </div>
    </div>
</div>